<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>缴费管理系统</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/chemira/css/app.v1.css">
    <link rel="stylesheet" href="/static/css/font.css" cache="false">
    <!--[if lt IE 9]>
    <script src="/static/chemira/js/ie/respond.min.js" cache="false"></script>
    <script src="/static/chemira/js/ie/html5.js" cache="false"></script>
    <script src="/static/chemira/js/ie/fix.js" cache="false"></script> <![endif]--></head>
<body>
<section id="content" class="m-t-lg wrapper-md animated fadeInUp"><a class="nav-brand"
                                                                     href="index.html">缴费管理系统</a>

    <div class="row m-n">
        <div class="col-md-4 col-md-offset-4 m-t-lg">
            <section class="panel">
                <header class="panel-heading text-center"> 登录</header>
                <form action="/user_login/" class="panel-body" method="post">
                    <div class="form-group"><label class="control-label">用户名</label>
                        <input type="text" placeholder="请输入用户名" name="username" class="form-control"></div>
                    <div class="form-group"><label class="control-label">密码</label>
                        <input type="password" id="inputPassword" name="password" placeholder="请输入密码" class="form-control"></div>
                    <div class="checkbox"><label> <input type="checkbox"> 保持登录 </label>
                    </div>
                    <button type="submit" class="btn btn-info">登录</button>
                    <div class="line line-dashed"></div>

                    <div class="line line-dashed"></div>
                </form>
            </section>
        </div>
    </div>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>由质朴软件公司提供动力<br>&copy; 2019</small>
        </p>
    </div>
</footer>
<!-- / footer -->
<script src="/static/css/app.v1.js"></script>
<!-- Bootstrap --> <!-- app --> </body>
</html>